<parameters package="com.xbox.sdk">
<!--<channel name="huandong" id="22" suffix=".hd" isCustomSignature="no" isSuffix="yes" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>
<channel name="uc" id="10" suffix=".uc" isCustomSignature="no" isSuffix="yes" isSplashFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>
<channel name="xiaomi" id="15" suffix=".mi" isCustomSignature="no" isSuffix="yes" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="yes" packageName="com.xbox.sdk"/>
<channel name="dl" id="19" suffix=".dl" signPwd="downjoy_1296" alias="1296" isCustomSignature="yes" isSuffix="yes" isSplashFile="yes" isWeiXinFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>
<channel name="baidu" id="16" suffix=".baidu" signPwd="downjoy_1296" alias="1296" isCustomSignature="no" isSuffix="no" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>
<channel name="360" id="11" suffix=".s360" isCustomSignature="no" isSuffix="yes" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>
<channel name="meizu" id="69" suffix=".mz" isCustomSignature="no" isSuffix="yes" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>-->
<channel name="jinli" id="18" suffix=".mz" isCustomSignature="no" isSuffix="no" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>
<channel name="lianxiang" id="17" suffix=".lenovo" isCustomSignature="no" isSuffix="yes" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="yes" packageName="com.huandong.shenji3d"/>
<channel name="oppo" id="21" suffix=".nearme.gamecenter" isCustomSignature="no" isSuffix="yes" isSplashFile="no" isWeiXinFile="no" isCustomPackageName="yes" packageName="com.huandong.shenji3d"/>
<channel name="yingyongbao" id="91" signPwd="123456" alias="mm3k" isCustomSignature="yes" isSuffix="no" isWeiXinFile="yes" isSplashFile="no" isCustomPackageName="yes" packageName="com.tencent.tmgp.sglmm"/>
<channel name="dl" id="19" suffix=".dl" signPwd="downjoy_1296" alias="1296" isCustomSignature="yes" isSuffix="yes" isSplashFile="yes" isWeiXinFile="no" isCustomPackageName="no" packageName="com.xbox.sdk"/>
</parameters>


